$actionBtnScaleFactor: 1.5;

.item {
  background-color: red;
  padding: 70px;
  margin: 7px 0px;
  border: 1px solid transparent;
  border-radius: 3px;

  -webkit-transition: box-shadow 300ms linear;
  transition: box-shadow 300ms linear;
}

.item:hover {
  box-shadow: 3px 5px 7px #ded8d8;
}

.item-inner {
  width: 100%;
  height: 100%;
}

.item-front {
  width: 100%;
  height: 100%;

  display: -webkit-box;
  display: -ms-flex-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btns-container {
  display: flex;
}

@media (max-width: 768px) {
  .item {
    height: 40px;
    width: 80%;
  }
}

@media (min-width: 767.98px) {
  .item-front {
    flex-direction: column;
    align-items: flex-start;
  }

  .btns-container {
    align-self: flex-end;
  }
}

button {
  background-color: white;
  margin: 0px 3px;
  color: black;
  font-size: 20px;
  border: none;
  -webkit-transition: transform 100ms linear;
  transition: transform 100ms linear;
}

button[class~="btn-edit"]:hover,
button[class~="btn-complete"]:hover,
button[class~="btn-delete"]:hover {
  cursor: pointer;
  -webkit-transform: scale($actionBtnScaleFactor);
  transform: scale($actionBtnScaleFactor);
}

button[class~="btn-edit"]:hover {
  color: #f4c20d;
}

button[class~="btn-complete"]:hover {
  color: #3cba54;
}

button[class~="btn-delete"]:hover {
  color: #db3236;
}
